@prefix: ~"vue-bigdata-table";
.@{prefix}{
  *{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #495060;
    font-size: 12px;
    font-weight: 400;
  }
  &-outer{
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid #e9eaec;
    box-sizing: border-box;
    position: relative;
    .@{prefix}-header-wrapper{
      box-sizing: border-box;
      z-index: 70;
      &.header-wrapper-fixed{
        position: -webkit-sticky;
        position: sticky;
      }
      table {
        height: 100%;
        table-layout: fixed;
        tr th{
          border-right: 1px solid #e9eaec;
          border-bottom: 1px solid #e9eaec;
          white-space: nowrap;
        }
      }
    }
  }
  &-wrapper {
    width: 100%;
    border-bottom: none;
    .@{prefix}-content {
      width: 100%;
      height: auto;
    }
    .@{prefix}-data-table {
      &.@{prefix}-content-table {

        left: 0;
        top: 0;
      }

      border-bottom: none;
      border-top: none;
      table-layout: fixed;
      tr{
        background: #fff;
        td {
          min-width: 0;
          height: 48px;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          border-bottom: 1px solid #e9eaec;
          border-right: 1px solid #e9eaec;

          border-left: 1px solid transparent;
          border-top: 1px solid transparent; // 表格选中
          .@{prefix}-cell{
            box-sizing: border-box;
            padding: 0 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }
        }
      }
    }
  }
  &-fixed{
    .@{prefix}-header-wrapper{
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
  }
  &-fixed-table{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 60;
    transition: box-shadow .2s ease;
    &.box-shadow{
      box-shadow: 2px 0 6px -2px rgba(0,0,0,.2);
      transition: box-shadow .2s ease;
    }
    td{
      border-right: 1px solid #e9eaec;
    }
  }
  &-item-table{
    position: relative;
  }
}
